.label {
  display: flex;
  align-items: center;
}
.inputcheckbox {
  display: none;
}
.checkbox {
  width: 15px;
  height: 15px;
  border-radius: 4px;
  border: 1px solid #000;
  margin-left: 5px;
  cursor: pointer;
  transition: border-color 500ms;
}
.checkbox:hover {
  border: 1px solid #00d2d9;
  transition: border-color 500ms;
}
.checked {
  background: url(./check.svg) no-repeat center center;
  background-size: contain;
  border: 1px solid #00d2d9;
}